<div class="bg-info dialog-container">
  <h2 mat-dialog-title>Check für {{currentGuineaPig.name}}</h2>
  <mat-dialog-content>
    <form [formGroup]="healthCheckForm">
      <!--      PawsCheck checkbox and switch-->
      <div class="row">
        <div class="form-group col-4">
          <div class="form-check">
            <input class="form-check-input" formControlName="isPawsCheck" id="isPawsCheck" type="checkbox">
            <label class="form-check-label" for="isPawsCheck">
              Pfoten
            </label>
          </div>
        </div>
        <div class="col-1">
          <span (click)="onPawsInfo()" class="material-icons">info</span>
        </div>
        <div class="form-group col-4 offset-1">
          <div class="form-check form-switch">
            <input (change)="isPawsComment = !isPawsComment" class="form-check-input" id="isPawsComment" role="switch"
                   type="checkbox">
            <label class="form-check-label" for="isPawsComment">Kommentar</label>
          </div>
        </div>
      </div>
      <!--      Paws comment-->
      <div *ngIf="isPawsComment" class="mb-3">
        <label class="form-label" for="pawsComment">Kommentar für Pfoten</label>
        <textarea class="form-control" formControlName="pawsComment" id="pawsComment" rows="2"></textarea>
      </div>
      <!--      ChinCheck checkbox and switch-->
      <div class="row">
        <div class="form-group col-4">
          <div class="form-check">
            <input class="form-check-input" formControlName="isChinCheck" id="isChinCheck" type="checkbox">
            <label class="form-check-label" for="isChinCheck">
              Kinn
            </label>
          </div>
        </div>
        <div class="col-1">
          <span (click)="onChinMouthNoseTeethInfo()" class="material-icons">info</span>
        </div>
        <div class="form-group col-4 offset-1">
          <div class="form-check form-switch">
            <input (change)="isChinCheckComment = !isChinCheckComment" class="form-check-input" id="isChinCheckComment" role="switch"
                   type="checkbox">
            <label class="form-check-label" for="isChinCheckComment">Kommentar</label>
          </div>
        </div>
      </div>
      <!--      Chin comment-->
      <div *ngIf="isChinCheckComment" class="mb-3">
        <label class="form-label" for="chinComment">Kommentar für Kinn</label>
        <textarea class="form-control" formControlName="chinComment" id="chinComment" rows="2"></textarea>
      </div>
      <!--      MouthCheck checkBox and switch-->
      <div class="row">
        <div class="form-group col-4">
          <div class="form-check">
            <input class="form-check-input" formControlName="isMouthCheck" id="isMouthCheck" type="checkbox">
            <label class="form-check-label" for="isMouthCheck">
              Maul
            </label>
          </div>
        </div>
        <div class="col-1">
          <span (click)="onChinMouthNoseTeethInfo()" class="material-icons">info</span>
        </div>
        <div class="form-group col-4 offset-1">
          <div class="form-check form-switch">
            <input (change)="isMouthCheckComment = !isMouthCheckComment" class="form-check-input" id="isMouthCheckComment" role="switch"
                   type="checkbox">
            <label class="form-check-label" for="isMouthCheckComment">Kommentar</label>
          </div>
        </div>
      </div>
      <!--      Mouth comment-->
      <div *ngIf="isMouthCheckComment" class="mb-3">
        <label class="form-label" for="mouthComment">Kommentar für Maul</label>
        <textarea class="form-control" formControlName="mouthComment" id="mouthComment" rows="2"></textarea>
      </div>
      <!--      NoseCheck checkBox and switch-->
      <div class="row">
        <div class="form-group col-4">
          <div class="form-check">
            <input class="form-check-input" formControlName="isNoseCheck" id="isNoseCheck" type="checkbox">
            <label class="form-check-label" for="isNoseCheck">
              Nase
            </label>
          </div>
        </div>
        <div class="col-1">
          <span (click)="onChinMouthNoseTeethInfo()" class="material-icons">info</span>
        </div>
        <div class="form-group col-4 offset-1">
          <div class="form-check form-switch">
            <input (change)="isNoseCheckComment = !isNoseCheckComment" class="form-check-input" id="isNoseCheckComment" role="switch"
                   type="checkbox">
            <label class="form-check-label" for="isNoseCheckComment">Kommentar</label>
          </div>
        </div>
      </div>
      <!--      Nose comment-->
      <div *ngIf="isNoseCheckComment" class="mb-3">
        <label class="form-label" for="noseComment">Kommentar für Nase</label>
        <textarea class="form-control" formControlName="noseComment" id="noseComment" rows="2"></textarea>
      </div>
      <!--      TeethCheck checkBox and switch-->
      <div class="row">
        <div class="form-group col-4">
          <div class="form-check">
            <input class="form-check-input" formControlName="isTeethCheck" id="isTeethCheck" type="checkbox">
            <label class="form-check-label" for="isTeethCheck">
              Zähne
            </label>
          </div>
        </div>
        <div class="col-1">
          <span (click)="onChinMouthNoseTeethInfo()" class="material-icons">info</span>
        </div>
        <div class="form-group col-4 offset-1">
          <div class="form-check form-switch">
            <input (change)="isTeethCheckComment = !isTeethCheckComment" class="form-check-input" id="isTeethCheckComment" role="switch"
                   type="checkbox">
            <label class="form-check-label" for="isTeethCheckComment">Kommentar</label>
          </div>
        </div>
      </div>
      <!--      Teeth comment -->
      <div *ngIf="isTeethCheckComment" class="mb-3">
        <label class="form-label" for="teethComment">Kommentar für Zähne</label>
        <textarea class="form-control" formControlName="teethComment" id="teethComment" rows="2"></textarea>
      </div>
      <!--      EyesCheck checkBox and switch-->
      <div class="row">
        <div class="form-group col-4">
          <div class="form-check">
            <input class="form-check-input" formControlName="isEyesCheck" id="isEyesCheck" type="checkbox">
            <label class="form-check-label" for="isEyesCheck">
              Augen
            </label>
          </div>
        </div>
        <div class="col-1">
          <span (click)="onEyesInfo()" class="material-icons">info</span>
        </div>
        <div class="form-group col-4 offset-1">
          <div class="form-check form-switch">
            <input (change)="isEyesCheckComment = !isEyesCheckComment" class="form-check-input" id="isEyesCheckComment" role="switch"
                   type="checkbox">
            <label class="form-check-label" for="isEyesCheckComment">Kommentar</label>
          </div>
        </div>
      </div>
      <!--      Eyes comment-->
      <div *ngIf="isEyesCheckComment" class="mb-3">
        <label class="form-label" for="eyesComment">Kommentar für Augen</label>
        <textarea class="form-control" formControlName="eyesComment" id="eyesComment" rows="2"></textarea>
      </div>
      <!--      EarsCheck checkBox and switch-->
      <div class="row">
        <div class="form-group col-4">
          <div class="form-check">
            <input class="form-check-input" formControlName="isEarsCheck" id="isEarsCheck" type="checkbox">
            <label class="form-check-label" for="isEarsCheck">
              Ohren
            </label>
          </div>
        </div>
        <div class="col-1">
          <span (click)="onEarsInfo()" class="material-icons">info</span>
        </div>
        <div class="form-group col-4 offset-1">
          <div class="form-check form-switch">
            <input (change)="isEarsCheckComment = !isEarsCheckComment" class="form-check-input" id="isEarsCheckComment" role="switch"
                   type="checkbox">
            <label class="form-check-label" for="isEarsCheckComment">Kommentar</label>
          </div>
        </div>
      </div>
      <!--      Ears comment-->
      <div *ngIf="isEarsCheckComment" class="mb-3">
        <label class="form-label" for="earsComment">Kommentar für Ohren</label>
        <textarea class="form-control" formControlName="earsComment" id="earsComment" rows="2"></textarea>
      </div>
      <!--      FurCheck checkBox and switch-->
      <div class="row">
        <div class="form-group col-4">
          <div class="form-check">
            <input class="form-check-input" formControlName="isFurCheck" id="isFurCheck" type="checkbox">
            <label class="form-check-label" for="isFurCheck">
              Fell
            </label>
          </div>
        </div>
        <div class="col-1">
          <span (click)="onFurInfo()" class="material-icons">info</span>
        </div>
        <div class="form-group col-4 offset-1">
          <div class="form-check form-switch">
            <input (change)="isFurCheckComment = !isFurCheckComment" class="form-check-input" id="isFurCheckComment" role="switch"
                   type="checkbox">
            <label class="form-check-label" for="isFurCheckComment">Kommentar</label>
          </div>
        </div>
      </div>
      <!--      Fur comment-->
      <div *ngIf="isFurCheckComment" class="mb-3">
        <label class="form-label" for="furComment">Kommentar für Fell</label>
        <textarea class="form-control" formControlName="furComment" id="furComment" rows="2"></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="weight">Gewicht</label>
        <input class="form-control" formControlName="weight" id="weight" type="number">
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="button-container">
    <button (click)="onClose()" class="btn btn-danger" type="button">Abbrechen</button>
    <button (click)="onSubmit()" class="btn btn-secondary">Speichern</button>
  </mat-dialog-actions>
</div>
