<div class="bg-secondary dialog-container">
  <h2 mat-dialog-title>AUGEN</h2>
  <mat-dialog-content>
    <h5>Sind die Augen klar, sauber und frei von Ausfluss oder Verkrustungen?</h5>
    <p>Trübe, weißliche Augen können sowohl ein Hinweis auf Verkalkungen als auch auf Verletzungen der Hornhaut sein.
      Ausfluss kann ein Hinweis auf Entzündungen/Allergien oder Zahnprobleme sein.</p>
  </mat-dialog-content>
  <mat-dialog-actions class="button-container">
    <button (click)="onClose()" class="btn btn-primary" type="button">Schliessen</button>
  </mat-dialog-actions>
</div>

