<div class="bg-secondary dialog-container">
  <h2 mat-dialog-title>{{isUpdate ? currentGuineaPig.name + ' Bearbeiten' : 'Neues Meerschweinchen hinzufügen'}}</h2>
  <mat-dialog-content>
    <form [formGroup]="guineaPigForm">
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" formControlName="name" id="name" type="text">
      </div>
      <div class="mb-3">
        <label for="gender">Geschlecht</label>
        <select class="form-select form-select-sm" formControlName="gender" id="gender">
          <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="race">Rasse</label>
        <input class="form-control" formControlName="race" id="race" type="text">
      </div>
      <div class="mb-3">
        <label class="form-label" for="birth">Geburt</label>
        <input class="form-control" formControlName="birth" id="birth" type="date">
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="button-container">
    <button [mat-dialog-close]="true" class="btn btn-primary" type="button">Schliessen</button>
    <button (click)="onSubmit()" class="btn btn-secondary">Speichern</button>
  </mat-dialog-actions>
</div>
